body{
    height: 100%;
    overflow: hidden;
}

#config{
    display: block;
    margin: 5px 5px 5px 20px ;
    float: left;
}

#delete{
    display: block;
    margin: 5px ;
    float: left;
}

#location{
    display: block;
    margin: 5px ;
    float: left;
}

#browser {
    height: 50vh;
    width: 34%;
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
}

#contentPanel {
    overflow-y: auto;
    height: 92.7%;
}

#bbb {
    margin-top: 5px ;
}

#map{
    z-index: 0;
    height: 50vh;
    width: 65%;
    float: right;
}

#chart{
    width: 100%;
    height: 48vh;
}
